<footer>
  <a href="{{ site.github.url }}/" alt="Richland Library" class="logo">
    <img src="{{ site.github.url }}/img/ui/logo-md.svg" class="desktop">
    <img src="{{ site.github.url }}/img/ui/logo-sm.svg" class="mobile">
  </a>
<a class="mobile" href="javascript:toggle('.menu')">Menu</a>
<nav class="primary">
  <a href="{{ site.github.url }}/library">The Library</a>
  <a href="{{ site.github.url }}/collection">The Collection</a>
  <a href="{{ site.github.url }}/stories">Stories</a>
  <a href="{{ site.github.url }}/events">Events</a>
  <a href="{{ site.github.url }}/search"><img class="emoji" src="{{ site.github.url }}/img/ui/search.svg"> Search</a>
</nav>
<nav class="secondary">
  <h2>Agency</h2>
  <a href="{{ site.github.url }}/about">About</a>
  <a href="{{ site.github.url }}/faq">FAQ</a>
  <a href="{{ site.github.url }}/policies#privacy">Privacy Policy</a>
  <a href="{{ site.github.url }}/work-with-us">Work With Us</a>
  <a href="{{ site.github.url }}/policies#terms-of-use">Terms of Use</a>
</nav>
<nav class="social">
  <a href="http://facebook.com"><img src="{{ site.github.url }}/img/ui/facebook-square.svg"></a>
  <a href="http://twitter.com"><img src="{{ site.github.url }}/img/ui/twitter.svg"></a>
  <a href="http://instagram.com"><img src="{{ site.github.url }}/img/ui/instagram.svg"></a>
  <a href="/feed"><img src="{{ site.github.url }}/img/ui/rss-square.svg"></a>
</nav>
<nav class="user">
  <a href="{{ site.github.url }}/login">Sign In</a>
  <a href="{{ site.github.url }}/login">Join</a>
  <a href="{{ site.github.url }}/help">Help</a>
</nav>

<section class="hours">
  <label>Open Now</label>
  <ul>
    <li>Main</li>
    <li>North Main</li>
    <li>North East</li>
    <li>South East</li>
    <li>St. Andrews</li>
  </ul>
  
  <label>Closing Soon</label>
  <ul>
    <li>Blythewood</li>
    <li>Eastover</li>
    <li>Wheatley</li>
  </ul>

  <label>Re-opens Tomorrow</label>
  <ul>
    <li>EdVenture</li>
  </ul>

  <label>Under Construction</label>
  <ul>
    <li>Cooper</li>
    <li>Sandhills</li>
  </ul>  
</section>

<div class="library-card-promo">
  <h2>Get a card</h2>
  <a href="/join">
    <img src="{{github.siteurl}}/img/library-card.jpg">
  </a>
</div>

<!-- Google Translate Dropdown -->
<div id="google_translate_element"></div>
<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL}, 'google_translate_element');
}
</script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

</footer>
