<header>
  <a href="{{site.github.url}}/access-magazine" class="promo-bar">
    <p>Access Magazine 001: Dyslexia</p>
    <img src="{{site.github.url}}/img/access-mag-001.jpg">
  </a>

<div class="flex-layout">

<a href="{{ site.github.url }}/" alt="Richland Library" class="logo">
  <img src="{{ site.github.url }}/img/ui/logo-md.svg" class="desktop">
  <img src="{{ site.github.url }}/img/ui/logo-sm.svg" class="mobile">
</a>

<a class="mobile" href="javascript:toggle('.menu')">Menu</a>

<nav class="primary">
  <a href="{{ site.github.url }}/library">The Library</a>
  <a href="{{ site.github.url }}/collection">The Collection</a>
  <a href="{{ site.github.url }}/stories">Stories</a>
  <a href="{{ site.github.url }}/events">Events</a>
  <a href="{{ site.github.url }}/search"><img class="emoji" src="{{ site.github.url }}/img/ui/search.svg"> Search</a>
</nav>

<nav class="social">
  <a href="http://facebook.com"><img src="{{ site.github.url }}/img/ui/facebook-square.svg"></a>
  <a href="http://twitter.com"><img src="{{ site.github.url }}/img/ui/twitter.svg"></a>
  <a href="http://instagram.com"><img src="{{ site.github.url }}/img/ui/instagram.svg"></a>
  <a href="{{ site.github.url }}/feed"><img src="{{ site.github.url }}/img/ui/rss-square.svg"></a>
</nav>

<nav class="user">
  <a href="{{ site.github.url }}/login">Sign In</a>
  <a href="{{ site.github.url }}/login">Join</a>
  <a href="{{ site.github.url }}/help">Help</a>
</nav>

<h1>{{page:title}}</h1>
</div>
</header>

{% include breadcrumb.html %}
