// Service Line Colors
$brand: rgb(0,141,177);
$secondary: rgb(0,175,208);
$charcoal: rgb(122,125,129);
$foundation: rgb(0,178,169);
$friends: rgb(153,194,33);
$children: rgb(255,199,0);
$teens: rgb(255,117,72);
$internal: rgb(167,212,238);


// Support Colors
$sand: rgb(207,187,142);
$canvas: rgb(218,203,169);
$snail: rgb(194,196,155);
$shell: rgb(233,229,205);
//$children
//$friends
$yard: rgb(109,173,68);
$foam: rgb(133,198,173);
//$foundation
$breezeway: rgb(0,154,158);
//$secondary
//$internal
$plume: rgb(148,120,168);
$lisa: rgb(201,27,118);
$hoodie: rgb(214,46,47);
//$teens
$hike: rgb(220,100,66);
$brick: rgb(186,71,53);


// Shades of Grey
// white (use `color:white`)
$lilita: #f2f3f4;
$pearl: #dadedf;
$heather: #c1c7c9;
$sterling: #a7b0b2;
$gray: #8c979a;
$stone: #707c80;
$ash: #555f61;
$raven: #373D3F;
$jet: #131516;
// black (use `color:black`)
