// headers
h1{
  font-size:calc(4rem + 0.75vmin);
}

h2{
  font-size:calc(3rem + 0.65vmin);
}

h3{
  font-size:calc(2rem + 0.5vmin);
  text-decoration:uppercase;
}

// alignment
.text-center {
  text-align: center;
}
