@import "colors";

section.search {
  background-color:black;
  background-image: url('https://images.unsplash.com/photo-1490768701275-e4d34871684f?dpr=2&auto=format&fit=crop&w=1199&h=794&q=80&cs=tinysrgb&crop=&bg=');
  background-size:cover;
  color:$lilita;
}
