<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ page.title }} - Richland Library</title>
  <link rel="stylesheet" href="{{ site.github.url }}/css/wildcard.css">
  <link rel="stylesheet" href="{{ site.github.url }}/css/layout.css">
  <link rel="stylesheet" href="{{ site.github.url }}/css/library.css">
  <link href="https://fonts.googleapis.com/css?family=Prociono|Rubik:400,400i,700" rel="stylesheet">
</head>
<body>

  <section class="content">
    {{ content }}
  </section>
</body>
</html>
